html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


@font-face {
  font-family: "ProtokollBold-Italic";
  src: url("/fonts/ProtokollBold-Italic.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProtokollBold";
  src: url("/fonts/ProtokollBold.woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Dominicale";
  src: url("/fonts/Dominicale.woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Helvetica";
  src: url("/fonts/Helvetica.woff");
  font-weight: normal;
  font-style: normal;
}