.wrap {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  .container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: 1;
    transform-origin: left top;
    background-color: #fff;
    overflow: hidden;

  }
}

.error {
  padding: 2rem;
  color: red;
  height: 100%;
  font-size: 35px;
}