.container {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  input,
  select,
  textarea,
  button {
    padding: 10px;
  }

  .image {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 60%;
    background-color: rgb(220, 255, 227);

    img {
      min-width: 60vw;
      max-width: 60vw;

      &.spin {
        animation: spin 0.1s linear infinite;

        @keyframes spin {
          0% {
            transform: rotate(0deg) scale(0.3);
          }

          50% {
            transform: rotate(180deg) scale(0.1);
          }

          100% {
            transform: rotate(360deg) scale(0.3);
          }
        }
      }
    }

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      color: black;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .config {
    position: relative;
    flex: 0 0 40%;
    display: flex;
    align-items: flex-start;
    padding: 2rem;

    label {
      display: block;
      margin-bottom: .5rem;
    }

    .images,
    .colors {
      display: flex;
      flex-direction: row;

      img,
      div {
        height: 50px;
        width: 50px;
        margin-right: 0.4rem;
        border: 5px solid gray;

        &:last-child {
          margin-right: 0;
        }

        &.selected {
          border: 5px solid rgb(149, 255, 0);
        }
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;

  >div {
    margin-right: 1rem;

  }
}

.download {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
}